body {
    padding-top:60px;
}

h1 {
	font-size: 35px
}

.navbar, h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}


.navbar, .navbar-brand, .navbar .dropdown-menu {
	font-size:20px;
}

.navbar .dropdown-menu {
	top:50px;
}

.page-header {
	margin:0;
	padding:0 0 10px 0;
}
.page-header .btn {
	position:relative;
	top:6px;
}

@media (min-width: 768px){
	.container {
		max-width: 100%;
	}
}

@media (min-width: 992px){
	.container {
		max-width: 100%;
	}
}