{% extends "base.html" %}
{% block title %}Policy intent{% endblock %}
{% block content %}
	<div class="page-header">
		<a href="{{ url_for('intent_edit', uid='new') }}" class="btn btn-default pull-right">Add new intent</a>
		<h1>Policy intent</h1>
	</div>
	{% for intent in intents %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{ url_for('intent_edit', uid=intent.uid) }}" class="btn btn-default pull-right btn-xs">Edit</a>			
				<h3 class="panel-title">{{intent.title}}</h3>
			</div>
			<div class="panel-body">
				{{intent.description|markdown}}
			</div>
		</div>
	{% endfor %}
{% endblock %}