{% extends "base.html" %}
{% block title %}Measures{% endblock %}
{% block content %}
	<div class="page-header">
	  <a href="{{ url_for('measure_edit', uid='new') }}" class="btn btn-default pull-right">Add new measure</a>
	  <h1>Measures</h1>
	</div>
	{% for measure in measures %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="{{ url_for('measure_edit', uid=measure.uid) }}" class="btn btn-default pull-right btn-xs">Edit</a>			
				<h3 class="panel-title">{{measure.title}}</h3>
			</div>
			<div class="panel-body">
				{{measure.description|markdown}}
			</div>
		</div>
	{% endfor %}
{% endblock %}